---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.openshift.io
  resources:
  - infrastructures
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ptp.openshift.io
  resources:
  - hardwareconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ptp.openshift.io
  resources:
  - hardwareconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - ptp.openshift.io
  resources:
  - hardwareconfigs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ptp.openshift.io
  resources:
  - ptpconfigs
  - ptpoperatorconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ptp.openshift.io
  resources:
  - ptpconfigs/finalizers
  - ptpoperatorconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - ptp.openshift.io
  resources:
  - ptpconfigs/status
  - ptpoperatorconfigs/status
  verbs:
  - get
  - patch
  - update
